streamlit>=1.31.0
PyPDF2

langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.38
langchain-text-splitters==0.0.2
langchain-experimental==0.0.55

langchain-google-genai
langchain-huggingface

faiss-cpu
sentence-transformers
python-dotenv
